.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    padding-left: 0;
    height: 5vh;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
    background: #ffffff;
}

.logo {
    height: 2.5rem;
}

.avatar {
    width: 40px;
    height: 40px;
}

.username-text {
    display: none;
}

.header-title {
    cursor: pointer;
}

.explore-button {
    color: #995662 !important;
}

@media screen and (min-width: 768px) {
    .username-text {
        display: block;
    }
}